<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/variables.css">
  </head>
  <body>
    {% include 'AKSEP/templates/header.html' %}
    <main>
      {% block content %}{% endblock %}
    </main>
    {% include 'AKSEP/templates/footer.html' %}
  </body>
</html>