<header>
  <nav>
    <ul>
      <li><a href="/start/">Start</a></li>
      <li><a href="/Programm/">Programm</a></li>
      <li><a href="/Projekte/">Projekte</a></li>
      <li><a href="/Termine/">Termine</a></li>
      <li><a href="/ueber-uns/">Über uns</a></li>
      <li><a href="/unterstuetzen/">Unterstützen</a></li>
      <li><a href="/Presse/">Presse</a></li>
      <li><a href="/Mitglied-werden/">Mitglied werden</a></li>
      <li><a href="/Kontact/">Kontakt</a></li>
    </ul>
  </nav>
</header>
