:root {
  --lavendar: #7E65B9;
  --horizon: #5A8FA8;
  --clover: #3EB694;
  --dark-bg: #322A45;
  --light-bg: #423A51;
}

.light {
  --lavendar: #423A51;
  --horizon: #5A8FA8;
  --clover: #322A45;
  --dark-bg: #3EB694;
  --light-bg: #7E65B9;
}